{% extends 'base.html.twig' %}

{% block title %}Authors list{% endblock %}

{% block body %}
    <h1>Authors in Library</h1>
    <div class="container author">
        <div class="sort">
            <p>List order by:</p> 
            <form action="{{path('author_index')}}" method="GET">
                <select name="sort">
                    <option value="default">Default</option>
                    <option value="name_az" {% if sortBy == 'name_az' %} selected {% endif %}>Name A-Z</option>
                    <option value="name_za" {% if sortBy == 'name_za' %} selected {% endif %}>Name Z-A</option>
                    <option value="surname_az" {% if sortBy == 'surname_az' %} selected {% endif %}>Surname A-Z</option>
                    <option value="surname_za" {% if sortBy == 'surname_za' %} selected {% endif %}>Surname Z-A</option>
                </select>
                <button class="sort submit-btn" type="submit">Sort</button>
            </form>
            <a href="{{path('author_index')}}">Clear sort</a>
        </div>
        <ul class="author-list">
            {% for author in authors %}
                <div class="authors">
                    <div class="left">
                        <div class="preview author"></div>
                    </div>
                    <div class="right">
                        <div class="title">{{author.name}} {{author.surname}}</div>
                        {% for book in author.books %}
                            <div class="books">{{book.title}}</div>
                        {% endfor %}
                        <div class="buttons author">
                            <a class="edit-btn" href="{{path('author_edit', {id: author.id})}}">Edit</a>
                            <form action="{{path('author_delete', {id:author.id})}}" method="POST">
                                <button class="submit-btn" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
