{% extends 'base.html.twig' %}

{% block title %}Create new Book{% endblock %}

{% block body %}
    <h1 class="create">Create new Book</h1>
    <div class="container create">
        <form action="{{path('book_store')}}" method="POST">
            <div class="new">
                <label for="book_title">Title:</label> 
                <input type="text" name="book_title" value="{{book_title}}" id="book_title">
            </div>
            <div class="new">
                <label for="book_isbn">ISBN:</label>
                <input type="text" name="book_isbn" value="{{book_isbn}}" id="book_isbn">
            </div>
            <div class="new">
                <label for="book_pages">Pages:</label>
                <input type="text" name="book_pages" value="{{book_pages}}" id="book_pages"></div>
            <div class="new">
                <label for="summernote">About:</label> 
                <textarea name="book_about" id="summernote">{{book_about}}</textarea>
            </div>
            <div class="new">
                <label for="book_author">Author:</label>
                <select name="book_author_id" id="book_author">
                        <option value="0">Select author</option>
                    {% for author in authors %}
                        <option value="{{author.id}}" 
                        {% if author.id == book_author_id %} selected {% endif %}>
                            {{author.name}} {{author.surname}}
                        </option>
                    {% endfor %}
                </select>
            </div>
            <button class="submit-btn create" type="submit">Add new Book</button>
            <input type="hidden" name="token" value="{{csrf_token('')}}"/>
        </form>
    </div>
{% endblock %}
