{% extends 'base.html.twig' %}

{% block title %}Create new Book{% endblock %}

{% block body %}
    <h1 class="create">Create new Book</h1>
    <div class="hero-bg create"></div>
    <div class="menu">
        <a class="nav create" href="{{path('book_index')}}">Book list</a>
        <a class="nav create checked" href="{{path('book_create')}}">New Book</a>
        <a class="nav create" href="{{path('author_index')}}">Author list</a>
        <a class="nav create" href="{{path('author_create')}}">New Author</a>
    </div>
    <div class="container create">
        <form action="{{path('book_store')}}" method="POST">
            <div class="new">
                <p>TITLE:</p> 
                <input type="text" name="book_title">
            </div>
            <div class="new">
                <p>ISBN:</p>
                <input type="text" name="book_isbn">
            </div>
            <div class="new">
                <p>PAGES:</p>
                <input type="text" name="book_pages"></div>
            <div class="new">
                <p>ABOUT:</p> 
                <textarea name="book_about"></textarea></div>
            <div class="new">
                <p>AUTHOR:</p>
                <select name="book_author_id">
                    {% for author in authors %}
                        <option value="{{author.id}}">{{author.name}} {{author.surname}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="submit-btn create" type="submit">Add new Book</button>
        </form>
    </div>
{% endblock %}
