{% extends 'base.html.twig' %}

{% block title %}Books list{% endblock %}

{% block body %}
    <h1>Books in Library</h1>
    <div class="container">
        <div class="filter">
            <p>Filter list by:</p>
            <form action="{{path('book_index')}}" method="GET">
                <select name="author_id">
                        <option value="0">View all</option>
                    {% for author in authors %}
                        <option value="{{author.id}}" {% if authorId == author.id %} selected {% endif %}>{{author.name}} {{author.surname}}</option>
                    {% endfor %}
                </select>
                <button class="filter submit-btn" type="submit">Filter</button>
            </form>
            <a href="{{path('book_index')}}">Clear filter</a>
        </div>
        <ul class="book-list">
            {% for book in books %}
                <div class="book">
                    <div class="preview book"></div>
                    <p class="title">{{book.title}}</p>
                    <p class="name">{{book.author.name}} {{book.author.surname}}</p>
                    <div class="buttons">
                        <a class="edit-btn" href="{{path('book_edit', {id: book.id})}}">Edit</a>
                        <form action="{{path('book_delete', {id:book.id})}}" method="POST">
                            <button class="submit-btn" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
