{% extends 'base.html.twig' %}

{% block title %}Books list{% endblock %}

{% block body %}
    <h1>Books in Library</h1>
    <a href="{{path('book_create')}}">Create new Book</a>
    <p>List:</p>
    <ul>
        {% for book in books %}
            <li>{{book.title}} 
            {{book.author.name}} {{book.author.surname}}
            <a href="{{path('book_edit', {id: book.id})}}">Edit</a>
            <form action="{{path('book_delete', {id:book.id})}}" method="POST">
                <button type="submit">DELETE</button>
            </form>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
